[Unit]
Description=Discador BestFS
After=network.target mysql.service freeswitch.service
Wants=mysql.service freeswitch.service

[Service]
Type=simple
User=luis
Group=www-data
WorkingDirectory=/var/www/BestFSDialer
ExecStart=/bin/bash -c 'source ./venv/bin/activate && export PYTHONPATH=/usr/src/freeswitch/libs/esl/python3 && python3 ./check_calls.py'
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=BestFSDialer


[Install]
WantedBy=multi-user.target